.input-wrap {
  display: flex;
  justify-content: center;
  height: calc(100vh - 84.5px);
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
}

.input-wrap h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}

.input-wrap input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: none;
  border-bottom: 1px solid #888;
  font-size: 1rem;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
}

.input-wrap input + input {
  margin-top: 20px;
}

.input-wrap .btn-wrap {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.input-wrap .btn-wrap button {
  height: 50px;
  color: #fff;
  background: #333;
  font-size: 1rem;
  text-align: center;
  border: none;
  flex: 1;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.2s;
}

.input-wrap .btn-wrap button:hover {
  background: #fff;
  color: #333;
  border: 1px solid #333;
}

.form-btm-txt {
  font-size: 0.8rem;
  position: relative;
  margin-top: 1rem;
}
.form-btm-txt a {
  position: absolute;
  right: 0%;
  top: 0;
  border-bottom: 1px solid #333;
}

.sns-login {
  display: flex;
  font-size: 0;
  margin-top: 2rem;
  justify-content: center;
}

.sns-login li button {
  font-size: 0;
  border: none;
  border-radius: 100%;
  padding: 10px;
  background-size: 24px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 24px;
  background-color: transparent;
  cursor: pointer;
}

.sns-login .google button {
  background-image: url("/public/images/icon-google.png");
}
