.list-box {
  width: 18%;
  margin-bottom: 40px;
}
.list-box img {
  width: 100%;
  transition: all 0.2s;
  cursor: pointer;
}
.list-box:hover img {
  transform: scale(1.1);
}
.list-box .img {
  border-radius: 16px;
  overflow: hidden;
}
.list-box p {
  margin: 0;
}
.title {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 0 0.5rem;
}
.score {
  font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
  .list-box {
    width: 20%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 860px) {
  .list-box {
    width: 25%;
  }
  .title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .list-box {
    width: calc(50% - 10px);
  }
}
