.detail-box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 0;
  border-bottom: 1px solid #9996;
  position: relative;
}

.detail-box .detail-img {
  width: 80%;
  animation: slideinright 0.7s;
  position: relative;
  min-height: 393px;
}
.detail-box .detail-img:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  top: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 212, 255, 0) 100%
  );
}

.movie-links {
  display: flex;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.movie-links li {
}
.movie-links li + li {
  margin-left: 30px;
}
.movie-links .wish {
  position: static;
}
.movie-links a,
.movie-links button {
  font-size: 0;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.movie-links a:hover,
.movie-links button:hover {
  animation: hithere 1s ease infinite;
}
.movie-links .premovie {
  background-image: url("../../public/images/icon-premovie.png");
}
.movie-links .wish {
}
.movie-links .share {
  background-image: url("../../public/images/icon-share.png");
}

.tab-content {
  min-height: 50vh;
}
.tab-contet p {
  color: #fff;
}
.detail-box .info {
  width: 50%;
  box-sizing: border-box;
  animation: slideinleft 0.7s;
  color: #fff;
  padding-left: 50px;
  font-size: 16px;
}

.detail-box .info h1 {
  margin-bottom: 1rem;
}

.detail-box .info p + p {
  margin-top: 1rem;
}

.detail-box .info .detail-genres {
  display: block;
  font-size: 0.9rem;
}

.detail-box .info .detail-genres span:before {
  content: "#";
}

.detail-box .info .detail-genres span + span {
  margin-left: 0.5rem;
}

.detail-box .info .detail-overview {
  line-height: 1.5;
  opacity: 0.8;
  margin-right: 10px;
}
.detail-box .info .detail-overview .more {
  display: inline-flex;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

.detail-btm {
  margin: 100px auto;
  width: calc(100% - 100px);
}

.detail-tabs {
  display: flex;
  border-bottom: 1px solid #eee;
}
.detail-tabs li {
  width: 100px;
  height: 50px;
  color: #fff;
  text-align: center;
  position: relative;
  opacity: 0.8;
  cursor: pointer;
}
.detail-tabs li.active {
  opacity: 1;
}
.detail-tabs li.active:after {
  background: #fe2e2e;
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
}

.review-wrap {
  margin: 50px auto;
  box-sizing: border-box;
}
.review-write {
  box-sizing: border-box;
  background: #eeeeeeeb;
  padding: 30px;
  border-radius: 10px;
}
.write-input {
  width: calc(100% - 140px);
  border: none;
  height: 40px;
  outline: none;
  padding: 0 10px;
  box-sizing: border-box;
  background: none;
  border-bottom: 1px solid #999;
  font-size: 1rem;
}
.write-btn {
  width: 130px;
  margin-left: 10px;
  background: #fe2e2e;
  border-radius: 10px;
  height: 40px;
  vertical-align: middle;
  border: none;
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
}
.review-box {
  margin-top: 50px;
  color: #fff;
  text-align: center;
}
.review {
}
.review .box {
  display: flex;
  color: #fff;
  align-items: center;
}
.review .box + .box {
  margin-top: 2rem;
}
.review .box .info-box {
  flex-grow: 1;
  padding-left: 20px;
}
.review .box .img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
  min-width: 32px;
}
.review .box .text {
  position: relative;
  font-size: 0.9rem;
}
.review .box .text .name {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

.review .box .text .review-text {
  opacity: 0.8;
  word-break: break-all;
  width: 80%;
}
.review-btns {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.review-btns button {
  background: #fff;
  color: #333;
  border: 1px solid #fff;
  padding: 5px;
  cursor: pointer;
}
.review-btns button + button {
  margin-left: 10px;
}
.review .box .info {
}

.detail-info-wrap {
}

.detail-info-wrap .overview {
  color: #fff;
  word-break: keep-all;
  line-height: 1.7;
  margin-top: 50px;
  margin-bottom: 3rem;
}
.detail-info-box {
  display: flex;
}

.detail-info {
  padding-left: 50px;
}
.detail-info-box img {
  width: 300px;
}

.detail-info-box .detail-info {
  flex: 1;
}

.detail-info-box .detail-info dt,
.detail-info-box .detail-info dd {
  color: #fff;
  display: inline-block;
}

.detail-info-box .detail-info dt {
  width: 100px;
}

.detail-info-box .detail-info dd {
  width: calc(100% - 100px);
}
.detail-info-box .detail-info dd + dt,
.detail-info-box .detail-info dd + dt + dd {
  margin-top: 3rem;
}

.related-area.no-data {
  margin: 50px auto;
}
.related-area {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}
.related-area .related-item {
  position: relative;
  width: 20%;
}
.related-info {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
}
.related-info .wish {
  top: 10px;
}
@keyframes slideinright {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideinleft {
  from {
    opacity: 0;
    transform: translateX(10%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@media screen and (max-width: 860px) {
  .detail-box .info {
    padding-left: 30px;
  }
  .detail-box .detail-img,
  .detail-box .info {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .detail-box {
    padding: 20px;
    flex-direction: column;
  }
  .detail-box .info {
    padding: 0;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .detail-box .info h1 {
    font-size: 1.5rem;
  }
}
