.detail-box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 0;
  border-bottom: 1px solid #9996;
  position: relative;
}

.detail-box .detail-img {
  width: 80%;
  animation: slideinright 0.7s;
  position: relative;
}
.detail-box .detail-img:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  top: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 212, 255, 0) 100%
  );
}

.movie-links {
  display: flex;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.movie-links li {
}
.movie-links li + li {
  margin-left: 30px;
}
.movie-links .wish {
  position: static;
}
.movie-links a {
  font-size: 0;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: block;
}
.movie-links a:hover {
  animation: hithere 1s ease infinite;
}
.movie-links .premovie a {
  background-image: url("../../public/images/icon-premovie.png");
}
.movie-links .wish a {
}
.movie-links .share a {
  background-image: url("../../public/images/icon-share.png");
}

.detail-box .info {
  width: 50%;
  box-sizing: border-box;
  animation: slideinleft 0.7s;
  color: #fff;
  padding-left: 50px;
  font-size: 16px;
}

.detail-box .info h1 {
  margin-bottom: 1rem;
}

.detail-box .info p + p {
  margin-top: 1rem;
}

.detail-box .info .detail-genres {
  display: block;
  font-size: 0.9rem;
}

.detail-box .info .detail-genres span:before {
  content: "#";
}

.detail-box .info .detail-genres span + span {
  margin-left: 0.5rem;
}

.detail-box .info .detail-overview {
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  opacity: 0.8;
}

@keyframes slideinright {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideinleft {
  from {
    opacity: 0;
    transform: translateX(10%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@media screen and (max-width: 860px) {
  .detail-box .info {
    padding-left: 30px;
  }
  .detail-box .detail-img,
  .detail-box .info {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .detail-box {
    padding: 20px;
    flex-direction: column;
  }
  .detail-box .info {
    padding: 0;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .detail-box .info h1 {
    font-size: 1.5rem;
  }
}
