.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 1.5rem;
  background: #fff;
  position: sticky;
  inset: 0;
  z-index: 10;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.navbar-logo a {
  color: #333;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar-links .btn-signup {
  background: #eee;
  padding: 10px 15px;
  border-radius: 27px;
}

.navbar-links button {
  margin-left: 1rem;
}

.navbar-links a,
.navbar-links button {
  text-decoration: none;
  background: inherit;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0;
}

.search-wrap {
  position: absolute;
  left: 50%;
  margin-left: -125px;
}

.search-wrap input {
  width: 250px;
  border: none;
  border-bottom: 1px solid #888;
  outline: none;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  background: url("/public/images/icon-search.png") no-repeat calc(100% - 10px)
    50%;
  background-size: auto 28px;
}

.logged-in {
  position: relative;
  z-index: 1;
  margin-left: 1rem;
}

.logged-in .user-icon {
  font-size: 0;
  display: flex;
  align-items: center;
}
.logged-in .user-icon img {
  max-width: 36px;
  border-radius: 100%;
  overflow: hidden;
}
.logged-in .user-icon .user-name {
  font-size: 0.8rem;
  margin-left: 0.8rem;
}

.logged-in-dropdown {
  position: absolute;
  background: #fff;
  border: 1px solid #eee;
  line-height: 2;
  min-width: max-content;
  right: 0;
  bottom: -80px;
  text-align: center;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.2s;
}
.logged-in-dropdown:before {
  content: "";
  display: inline-flex;
  width: 14px;
  height: 14px;
  background: url(../../public/images/icon-arw.png) no-repeat 50%;
  background-size: cover;
  position: absolute;
  top: -13px;
  right: 10px;
  z-index: 1;
}

.logged-in-dropdown button {
  margin: 0;
  display: block;
  line-height: 2;
}

.logged-in:hover .logged-in-dropdown {
  opacity: 1;
}

.nav-btn {
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.nav-btn span {
  border: 1px solid #333;
  display: block;
  transition: all 0.2s;
  position: relative;
}

.active .nav-btn span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 10px;
}
.active .nav-btn span:nth-of-type(2) {
  display: none;
}
.active .nav-btn span:nth-of-type(3) {
  transform: rotate(136deg);
  top: -7px;
}

.nav-menu {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  width: 50vw;
  padding: 30px;
  padding-top: 6rem;
  box-sizing: border-box;
  border-left: 1px solid #eee;
  display: none;
  transition: all 0.2s;
  min-width: 320px;
}
.active .nav-menu {
  right: 0;
}
.nav-menu .menu li,
.nav-menu .menu li button {
  position: relative;
  font-size: 1.5rem;
}
.nav-menu .menu li button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
}
.nav-menu .menu li + li {
  margin-top: 1.5rem;
}
.nav-menu .menu li a {
  display: block;
}
.nav-menu .menu li button:after,
.nav-menu .menu li a:after {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA3QAAAN0BcFOiBwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACySURBVFiF7dW7DQIxEIThfwjvKIEOCGkAiQToB3oiIiPjWQDdIJENyZEY60jwbYBXcmRL80ler2WbyBqFpldABVRAaYCkraS9pHEIALgDK+Agqc2esF10AUvgCVyB9mO/NOAbYhBAgrgAzeCABHF+IwYFJIgT0AjYAIuf939/TYEJsAsfROFX8D9NSOQzJHIQ9YUXBwDzLvyWC7dd/DecAUdgbfuRO6BOGlbhg6gCKqACXuBWvwe2mUtCAAAAAElFTkSuQmCC);
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s;
}
.nav-menu .menu li:hover button:after,
.nav-menu .menu li:hover a:after {
  right: 10px;
}

.nav-menu .search-wrap {
  position: static;
  margin-left: 0;
  margin-top: 2rem;
}

.nav-menu .user-info {
  font-size: 1rem;
  margin-bottom: 3rem;
}
.nav-menu .user-info img {
  max-width: 36px;
  border-radius: 100%;
  overflow: hidden;
}
.nav-menu .user-info span {
  font-size: 1.5rem;
}
.nav-menu .user-info span span {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .navbar-logo a {
    font-size: 1.5rem;
  }

  .nav-btn {
    display: flex;
  }
  .navbar-links button {
    display: none;
  }
  .nav-menu {
    display: block;
  }
  .search-wrap {
    display: none;
  }
  .nav-menu .search-wrap {
    display: block;
  }
  .logged-in {
    display: none;
  }
}
