@import url("//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("//fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
  font-family: "Lato", "Noto Sans KR", sans-serif;
  letter-spacing: -0.5px;
  word-break: keep-all;
  padding: 0;
}
body {
  min-width: 320px;
  background: #000;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.for-m {
  display: none;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #eee;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.no-data {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
.wish,
.wish a {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-image: url("../public/images/icon-heart.png");
  background-color: transparent;
  font-size: 0;
}
.wish.active,
.wish.active a {
  background-image: url("../public/images/icon-heart-on.png");
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 768px) {
  .for-m {
    display: flex;
  }
  .for-pc {
    display: none;
  }
}
.list-wrap {
  display: flex;
  gap: 2.5%;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 50px;
  justify-content: flex-start;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .list-wrap {
    margin: 20px;
  }
}
